.cartViewContainer {
    margin: 15.625rem auto 0 auto;
    padding: 3.75rem;
    width: 60%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: .9375rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    gap: .9375rem;
}

.mapContainer {
    width: 100%;
    
}

.cartTitle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cartItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .9375rem;
    
}

.cartItems img {
    width: 10.625rem;
    height: auto;
}

.cartItems h2 {
    font-size: 1rem;
}

.cartItems h3 {
    font-size: 1.5625rem;
}

.cartPriceContainer {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cartPriceContainer h3 {
    
    font-size: 1.25rem;
    margin-bottom: .9375rem;
}

.cartPriceContainer .Buttom1 {
    background-color: black;
}

.cartTotalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: .9375rem;
    

}

.cartTotalContainer h3 {
    font-size: 1.5rem;
    

}

























/* .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    margin-top: 5rem ;
}


.cartDetails {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
    margin: .9375rem 0 .9375rem 0;
}

img {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 10%;
    object-fit: cover;
}

.cartTotal {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
} */