.cartViewContainer {
  margin: auto;
  padding: 3.75rem;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.9375rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  gap: 0.9375rem;
}

.mapContainer {
  width: 100%;
}

.cartTitle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.625rem;
  border-bottom: solid 1px black;
}

.cartTitle h2 {
  font-size: 1.875rem;
}

.gameTitleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-basis: 25%;

  gap: 0.3125rem;
}

.gameQuantityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: 30%;
  gap: 0.5rem;
}

.gameQuantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cartItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.9375rem;
  padding: 0.9375rem;
  border-bottom: solid 1px black;
}

.cartItems img {
  width: 12.5rem;
  height: auto;
  border-radius: 0.9375rem;
}

.cartItems h2 {
  font-size: 1.25rem;
}

.cartItems h3 {
  font-size: 1.875rem;
}

.cartPriceContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  flex-basis: 15%;
  gap: 0.3125rem;
}

.cartPriceContainer h3 {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}

.cartPriceContainer h2 {
  font-size: 1.25rem;
}

.cartPriceContainer .Buttom1 {
  background-color: black;
}

.cartTotalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 0.9375rem;
}

.cartTotalContainer h3 {
  font-size: 1.875rem;
}

.cartTotalContainer h3 span {
  font-size: 1.5625rem;
  background-color: orangered;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  color: ghostwhite;
}

@media screen and (max-width: 1400px) {
  .cartViewContainer {
    margin: auto;
    padding: 3.75rem;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.9375rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    gap: 0.9375rem;
  }

  .mapContainer {
    width: 100%;
  }

  .cartTitle h2 {
    font-size: 1.875rem;
  }

  .gameTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;

    gap: 0.625rem;
  }

  .gameQuantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 30%;
    gap: 0.9375rem;
  }

  .cartItems {
    flex-direction: column;
    justify-content: space-between;
  }

  .cartItems img {
    width: 18.75rem;
  }

  .cartPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    gap: 0.3125rem;
  }

  .cartPriceContainer h3 {
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
  }
}

@media screen and (max-width: 1200px) {
  .cartViewContainer {
    padding: 1.875rem 0.625rem;
    width: 90%;
    gap: 0.3125rem;
  }
}

@media screen and (max-width: 1000px) {
  .cartViewContainer {
    padding: 1.875rem 0.625rem;
    width: 90%;
    gap: 0.3125rem;
  }
}

@media screen and (max-width: 768px) {
  .cartViewContainer {
    padding: 0.625rem 0.3125rem;
    width: 80%;
    gap: 0.3125rem;
  }

  .cartTitle {
    padding: 0.625rem;
  }

  .cartTitle h2 {
    font-size: 1.875rem;
  }

  .gameTitleContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0;
    gap: 0.3125rem;
  }

  .gameQuantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0;
    gap: 0.3125rem;
  }

  .cartItems {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: solid 1px black;
  }

  .cartItems img {
    width: 10rem;
  }

  .cartItems h2 {
    font-size: 1.25rem;
  }

  .cartItems h3 {
    font-size: 1.5625rem;
    text-align: center;
  }

  .cartPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .cartPriceContainer h3 {
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .cartTotalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
  }

  .cartTotalContainer h3 {
    font-size: 1.25rem;
  }

  .button1 {
    font-size: 1rem;
    padding: 0.9rem 1.25rem;
  }
}

@media screen and (max-width: 576px) {
  .cartViewContainer {
    padding: 0.625rem 0.3125rem;
    width: 80%;
    gap: 0.3125rem;
  }

  .cartTitle {
    padding: 0.625rem;
  }

  .cartTitle h2 {
    font-size: 1.375rem;
  }

  .gameTitleContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0;
    gap: 0.3125rem;
  }

  .gameQuantityContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0;
    gap: 0.3125rem;
  }

  .cartItems {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0;
    border-bottom: solid 1px black;
  }

  .cartItems img {
    width: 10rem;
  }

  .cartItems h2 {
    font-size: 0.875rem;
  }

  .cartItems h3 {
    font-size: 1.25rem;
    text-align: center;
  }

  .cartPriceContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .cartPriceContainer h3 {
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
  }

  .cartTotalContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9375rem;
  }

  .cartTotalContainer h3 {
    font-size: 1.25rem;
  }

  .button1 {
    font-size: 0.875rem;
    padding: 0.9rem 1.25rem;
  }
}

@media screen and (max-width: 400px) {
  .cartViewContainer {
    padding: 0.625rem 0.3125rem;
    width: 90%;
    gap: 0.3125rem;
  }
}

@media screen and (max-width: 320px) {
  .cartViewContainer {
    padding: 0.625rem 0.3125rem;
    width: 90%;
    gap: 0.3125rem;
  }

  .cartTitle h2 {
    font-size: 1.375rem;
  }

  .cartItems img {
    width: 10rem;
  }

  .cartItems h2 {
    font-size: 0.875rem;
  }

  .cartItems h3 {
    font-size: 1.125rem;
    text-align: center;
  }

  .cartPriceContainer h3 {
    font-size: 1.125rem;
  }

  .cartTotalContainer h3 {
    font-size: 1.125rem;
  }

  .button1 {
    font-size: 0.875rem;
    padding: 0.625rem 0.9375rem;
  }

  .cartTotalContainer h3 span {
    font-size: 1.25rem;
  }
}
