.contenedor-main {
  padding: 9.375rem 0 1.875rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.7)),
    url("../../img/fondo_main.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Service */
.contenedor-service {
  width: 100%;
  height: auto;
  padding: 6.25rem 6.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("../../img/fondo_service.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.service {
  color: #f4f4f4;
  max-width: 21.875rem;
  padding: 0.9375rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  transition: 0.8s;
  backdrop-filter: blur(1.25rem);
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  text-align: center;
}

.service:hover {
  transform: translateY(-10%);
  cursor: pointer;
}

.service img {
  margin: 2.5rem;
}

/* Newsletter */
.contenedor-newsletter {
  width: 100%;
  height: auto;
  padding: 18.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/fondo_newsletter.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor_form {
  padding: 3.125rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1.25rem);
  transition: 1s ease-in-out;
}
.contenedor_form:hover {
  box-shadow: 0 0 1.25rem 0.625rem #f4f4f4;
  transform: translateY(-0.625rem);
}

.contenedor-newsletter h2 {
  color: #f4f4f4;
  font-size: 4.375rem;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 0.625rem 0.625rem 0.625rem black;
}

.contenedor-newsletter p {
  color: #f4f4f4;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.125rem;
}

.contenedor-newsletter input {
  margin: 1.25rem 0.9375rem 0 0.9375rem;
  padding: 0.1875rem;
  border: solid 1px rgb(255, 255, 255);
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 0.9375rem;
  font-weight: bold;
  border-radius: 0.3125rem;
}

.contenedor-newsletter input::placeholder {
  color: #f4f4f4;
}

.contenedor-newsletter input:focus {
  background-color: #ff8826;
  transition: 1s ease-in-out;
}

.contenedor-newsletter input:valid {
  border: 2px solid greenyellow;
}

.contenedor-newsletter input:invalid {
  border: 2px solid #b31237;
}

.contenedor-newsletter button {
  padding: 0.5rem;
  background-color: black;
  color: #f4f4f4;
  border: solid 0.0938rem #f4f4f4;
  border-radius: 0.3125rem;
  transition: 0.9s ease-in-out;
}

.contenedor-newsletter button:hover {
  background-color: #ff8826;
  color: black;
  border: solid 2px black;
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
