.background_faq {
  width: 100%;
  padding-top: 9.375rem;
  background-image: url("../../img/fondo_faq.webp");
  background-size: cover;
  height: auto;
  background-color: black;
  background-repeat: no-repeat;
  padding-bottom: 1.875rem;
}

.accordion_container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.5rem;
  margin: 5rem auto;
  backdrop-filter: blur(1.875rem);
  padding: 3.75rem;
  border-radius: 0.9375rem;
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.accordion,
.accordion2 {
  width: 50%;
}
.faq_h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.faq_p {
  font-weight: 600;
  text-align: justify;
}

.accordion h2,
.accordion2 h2 {
  width: 100%;
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  color: #f4f4f4;
  padding-bottom: 2.5rem;
  text-shadow: 0.1875rem 0.125rem 0.9375rem black;
}

@media screen and (max-width: 1200px) {
  .background_faq {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    background-position: center;
  }

  .accordion_container {
    width: 80%;
    height: auto;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1.875rem auto;
    padding: 0.625rem;
  }
  .accordion,
  .accordion2 {
    width: 95%;
    padding: 1.25rem 0 0 0;
    margin: auto;
  }
  .accordion h2,
  .accordion2 h2 {
    font-size: 2rem;
  }
  .faq_h3 {
    text-align: center;
    font-size: 1.375rem;
    font-weight: bold;
  }
  .faq_p {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .background_faq {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    background-position: center;
  }

  .accordion_container {
    width: 75%;
    height: auto;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1.875rem auto;
    padding: 0.625rem;
  }
  .accordion,
  .accordion2 {
    width: 95%;
    padding: 1.25rem 0 0 0;
    margin: auto;
  }
  .accordion h2,
  .accordion2 h2 {
    font-size: 1.75rem;
  }
  .faq_h3 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .faq_p {
    font-size: 1.125rem;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 476px) {
  .background_faq {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    background-position: center;
  }

  .accordion_container {
    width: 95%;
    height: auto;
    flex-direction: column;
    gap: 1.25rem;
    margin: 1.875rem auto;
    padding: 0.625rem;
  }
  .accordion,
  .accordion2 {
    width: 95%;
    padding: 1.25rem 0 0 0;
    margin: auto;
  }
  .accordion h2,
  .accordion2 h2 {
    font-size: 1.625rem;
  }
  .faq_h3 {
    text-align: center;
    font-size: 1.125rem;
    font-weight: bold;
  }
  .faq_p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .background_faq {
    width: 100%;
    padding-top: 9.375rem;
    background-image: url("../../img/fondo_faq.webp");
    background-size: cover;
    background-color: black;
    background-repeat: repeat;
    background-position: center;
    padding-bottom: 3.125rem;
  }

  .accordion_container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
    margin: 1.875rem auto;
    backdrop-filter: blur(1.875rem);
    padding: 0.625rem;
    border-radius: 0.9375rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  .accordion,
  .accordion2 {
    width: 95%;
    padding: 1.25rem 0 0 0;
    margin: auto;
  }
  .accordion h2,
  .accordion2 h2 {
    font-size: 1.5rem;
  }
  .faq_h3 {
    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;
  }
  .faq_p {
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
  }
}
