.background_faq {
  padding-top: 9.375rem;
  background-image: url("../../img/fondo_faq.webp");
  background-size: fill;
  height: 93.75rem;
  background-color: black;
  background-repeat: no-repeat;
}

.faq_h1 {
  width: 100%;
  height: 9.375rem;
  position: relative;
  padding: 0;
  margin: auto;
  font-weight: 900;
  font-size: 2.5rem;
  color: #f4f4f4;
  text-align: center;
  text-shadow: 6px 6px 8px black;
  animation: textoH1 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  padding: 1.875rem;
}
.faq_h1 span {
  font-size: 4.375rem;
  font-weight: bold;
}

.container_faq {
  width: 80%;
  height: auto;
  margin: 3.75rem auto;
  padding: 2.5rem 0.625rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  backdrop-filter: blur(1.875rem);
  border-radius: 0.625rem;
  border: 0.0625rem solid rgb(255, 255, 255);
}
.container_faq .acordeon_1,
.container_faq .acordeon_2 {
  width: 50%;
}
.container_faq .acordeon_1 h2,
.container_faq .acordeon_2 h2 {
  text-align: center;
  font-size: 1.875rem;
  font-weight: bold;
  color: #f4f4f4;
  letter-spacing: 0.0313rem;
  padding: 1.25rem;
}
.container_faq .acordeon_1 details,
.container_faq .acordeon_2 details {
  position: relative;
  margin: 1.25rem;
}
.container_faq .acordeon_1 details[open] summary ~ *,
.container_faq .acordeon_2 details[open] summary ~ * {
  animation: faqSlide 0.8s ease-in-out both;
}
.container_faq .acordeon_1 details summary,
.container_faq .acordeon_2 details summary {
  width: 100%;
  text-align: center;
  padding: 0.625rem 0;
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 0.025rem;
  color: #f4f4f4;
  list-style: none;
  background-color: #1b1521;
  border: 0.0625rem solid #f4f4f4;
  border-radius: 0.625rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}
.container_faq .acordeon_1 details summary:hover,
.container_faq .acordeon_2 details summary:hover {
  background-color: #f03813;
  box-shadow: 0 0 1.25rem 0.625rem #f4f4f4;
  transform: translateY(-0.625rem);
}
.container_faq .acordeon_1 details p,
.container_faq .acordeon_2 details p {
  text-align: justify;
  color: #f4f4f4;
  font-size: 0.875rem;
  font-weight: 200;
  padding: 0.5rem;
}

@keyframes faqSlide {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
