@media (max-width: 1440px) {
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 70%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 2.1875rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 40%;
    font-size: 1.125rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 1.125rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 1.125rem;
    min-width: 37.5rem;
    max-width: 37.5rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 1.125rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.875rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1.25rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 1.125rem;
  }
}
@media (max-width: 1250px) {
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }
  .service {
    max-width: 31.25rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service img {
    margin: 1.875rem;
  }
  .contenedor-service .service h2 {
    font-size: 1.875rem;
  }
  .contenedor-service .service p {
    font-size: 1.125rem;
    font-weight: bold;
  }
  .socialMediaf {
    flex-basis: 25%;
  }
  .socialMediaColumn {
    flex-basis: 25%;
  }
  .contenedor-imgLogoFooter {
    flex-basis: 50%;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 35%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 37.5rem;
    max-width: 37.5rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 50%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.875rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 1024px) {
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
  }
  .service {
    max-width: 31.25rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service img {
    margin: 1.875rem;
  }
  .contenedor-service .service h2 {
    font-size: 1.75rem;
  }
  .contenedor-service .service p {
    font-size: 1rem;
    font-weight: bold;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 35%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 1.25rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 37.5rem;
    max-width: 37.5rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.875rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}

@media (max-width: 768px) {
  /* Newsletter */
  .contenedor-newsletter {
    padding: 4.375rem 1.25rem;
  }
  .contenedor-newsletter h2 {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
  }
  .contenedor-newsletter p {
    font-size: 0.9375rem;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
  }
  .contenedor-newsletter div form {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .contenedor-newsletter input {
    padding: 0;
    margin: 1.25rem 0.625rem;
    font-size: 0.9375rem;
    font-weight: bold;
    border-radius: 0.3125rem;
  }
  .imput-name,
  .imput-email {
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .contenedor-newsletter button {
    width: 100%;
    padding: 0.125rem;
    font-size: 0.9375rem;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 40%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 37.5rem;
    max-width: 37.5rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.875rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 712px) {
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service {
    max-width: 60%;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service img {
    margin: 0.9375rem;
  }

  .img_service {
    font-size: 6.25rem;
  }
  .contenedor-service .service h2 {
    font-size: 1.625rem;
  }
  .contenedor-service .service p {
    font-size: 0.875rem;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 70%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 40%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 16.25rem;
    max-width: 10rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 576px) {
  /* Newsletter */
  .contenedor-newsletter {
    padding: 4.375rem 1.25rem;
  }
  .contenedor-newsletter h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    text-align: center;
  }
  .contenedor-newsletter p {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
  }
  .contenedor-newsletter div form {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .contenedor-newsletter input {
    padding: 0;
    margin: 1.25rem auto;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 0.3125rem;
    width: 45%;
  }
  .contenedor-newsletter button {
    width: 100%;
    padding: 0.125rem;
    font-size: 0.75rem;
  }
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service {
    max-width: 17.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_service {
    font-size: 5rem;
  }
  .service img {
    margin: 0.9375rem;
  }
  .contenedor-service .service h2 {
    font-size: 1rem;
  }
  .contenedor-service .service p {
    font-size: 0.75rem;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 70%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 90%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 16.25rem;
    max-width: 10rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.5625rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 425px) {
  /* Newsletter */
  .contenedor-newsletter {
    padding: 4.375rem 1.25rem;
  }
  .contenedor-newsletter h2 {
    font-size: 2.1875rem;
    font-weight: 600;
    text-align: center;
  }
  .contenedor-newsletter p {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 0;
    text-align: center;
  }
  .contenedor-newsletter div form {
    width: 100%;
    margin: auto;
    text-align: center;
  }
  .contenedor-newsletter input {
    padding: 0;
    margin: 1.25rem auto;
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 0.3125rem;
    width: 45%;
  }
  .contenedor-newsletter button {
    width: 100%;
    padding: 0.125rem;
    font-size: 0.75rem;
  }
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service {
    max-width: 17.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_service {
    font-size: 4.375rem;
  }
  .service img {
    margin: 0.9375rem;
  }
  .contenedor-service .service h2 {
    font-size: 1rem;
  }
  .contenedor-service .service p {
    font-size: 0.75rem;
  }

  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 90%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 16.25rem;
    max-width: 10rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.5625rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 375px) {
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service {
    max-width: 17.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_service {
    font-size: 3.125rem;
  }
  .service img {
    margin: 0.9375rem;
  }
  .contenedor-service .service h2 {
    font-size: 0.875rem;
  }
  .contenedor-service .service p {
    font-size: 0.625rem;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 90%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 16.25rem;
    max-width: 10rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.25rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
@media (max-width: 320px) {
  /* Service */
  .contenedor-service {
    padding: 3.125rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .service {
    max-width: 17.5rem;
    padding: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .img_service {
    font-size: 2.5rem;
  }
  .service img {
    margin: 0.9375rem;
  }
  .contenedor-service .service h2 {
    font-size: 0.875rem;
  }
  .contenedor-service .service p {
    font-size: 0.625rem;
  }
  /* Contacto*/
  .contenedor-contacto {
    min-height: 100vh;
    padding: 9.375rem 0;
  }
  .contenedor-contacto form {
    width: 90%;
    padding: 3.125rem 0;
  }
  .contenedor-contacto form h1 {
    width: 85%;
    font-size: 1.5625rem;
    padding: 0.3125rem 0;
    margin: 0.3125rem 0;
  }
  .contenedor-contacto form .informacion input {
    width: 90%;
    font-size: 0.875rem;
    padding-left: 0;
    margin: 0.625rem 0;
  }
  .contenedor-contacto form .informacion input:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion textarea {
    font-size: 0.875rem;
    min-width: 16.25rem;
    max-width: 10rem;
    min-height: 5rem;
    max-height: 5rem;
  }
  .contenedor-contacto form .informacion textarea:focus {
    font-size: 0.875rem;
  }
  .contenedor-contacto form .informacion .button_contacto {
    width: 60%;
  }
  .contenedor-contacto form .informacion .button_contacto input {
    font-size: 0.875rem;
  }
  .contenedor-contacto .contacto_horario {
    width: 90%;
    margin: 1.25rem auto;
  }
  .contenedor-contacto .contacto_horario h3 {
    font-size: 1rem;
  }
  .contenedor-contacto .contacto_horario p {
    font-size: 0.875rem;
  }
}
