.cardcarousel {
  position: relative;
  width: 100%;
  height: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain;
}

.cardcarousel:hover {
  cursor: pointer;
}

.buy_buttom {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  position: absolute;
  left: 0;
  bottom: 0;
}

.carousel_price {
  background-color: orange;
  text-align: center;
  max-width: 100%;
  flex-basis: 100%;
  border-radius: 0;
  padding: 0.6875rem;
  text-shadow: 0.125rem 0.125rem black;
  color: ghostwhite;
  font-size: 1.25rem;
}
